.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 
display : flex;
justify-content: center;
}

.App-link {
  color: #61dafb;
}
.App-header h2 {
  margin: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-intro {
  font-size: large;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position:fixed;left:0;
  top: calc(120px + 2vmin);
  width:100%;
}


.tab-content{
  height : 70vh;
  overflow: auto;
}

#uncontrolled-tab-example-tabpane-Carousel{
  height : 100%;
}
.carousel{
  display: flex;
  flex-direction: row;
  align-items: center;
  height : 100%;
  overflow: auto;
}
.carouselCard{
height : 95%;
overflow: auto;
}
.card{
  height : 100%;
  overflow: auto;
}
.cardHeader{
  height : 20%;
  overflow:auto;
}
.card-text{
  height : 75%;
  overflow:auto;
}
.carouselBtn{
  margin:5px;
  position : relative;
  top : 20px;
}
.container-fluid{
  display: flex;

  flex-flow: column;

  height: 100%;
}
.container-fluid, .nav, form{
  flex : 0 1 auto
}
.tab-content{
flex : 1 1 auto;
}

.list-group-item{
  margin-bottom: 5px;;
}
.wordListHeader{
  display : flex;
  justify-content: space-between
}

.wordListHeaderTitle{
  display: inline;
  
}



.displayStocks{
  height: '100vh';
  margin-top : 170px;
}
.stocks {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width : 100%;
  margin-top : calc(180px + 2vmin);
}

.quoteCont{
  width : 100%;
}
.quote {
 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 25px 10px 25px;
}


.add-stock button {
  font-size: 16px;
  padding: 8px;
  margin: 0 10px 30px 10px;
}


.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}


.searchField {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position:fixed;left:0;
  top: calc(70px + 2vmin);
  width:100%;
  
}
.searchResultWindow{
  position:fixed;left:0;
  top: calc(120px + 2vmin);
  width:100%;
  background-color:honeydew;
  z-index : 100;
}
.searchResultWindow > button{
  margin : 20px;
  width : 20%;
  min-width : 100px;
  font-weight: bold;
}
.searchResult{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width : 100%;
  max-height : 300px;
  overflow: auto;

}

.displayResult{
  width : 20%;
  min-width : 150px;
  margin : 5px;

}
input[type="submit"] {
  padding: 5px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  width: 80px;
  margin-left: 5px;
  cursor: pointer;
}


input[type="submit"]:hover {
  background-color: #282c34;
  color: antiquewhite;
}


.searchResultLoading{
font-weight : bold;
margin : 30px;
width : 100%;

}
@media screen and (min-width: 694px) and (max-width: 915px) {

}

@media screen and (min-width: 362px) and (max-width: 693px) {
  .MuiTableCell-sizeSmall {
    padding: 6px 10px !important;
    font-size: 0.7rem !important;
}
}


@media screen and (max-width: 361px) {


  .MuiTableCell-sizeSmall {
      padding: 6px 8px !important;
      font-size: 0.6rem !important;
  }
  }
